[submodule "spurdog_moos_bridge"]
	path = spurdog_moos_bridge
	url = git@github.com:MarineRoboticsGroup/spurdog_moos_bridge.git
[submodule "cora"]
	path = cora
	url = git@github.com:MarineRoboticsGroup/cora.git
	branch = python-bindings
